@font-face {
  font-family: "Instrument Sans";
  src: url("/src/assets/fonts/static/InstrumentSans-Light.ttf")
    format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("/src/assets/fonts/static/InstrumentSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("/src/assets/fonts/static/InstrumentSans-Medium.ttf")
    format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("/src/assets/fonts/static/InstrumentSans-Bold.ttf")
    format("truetype");
  font-weight: 700;
}
